<header >
        <div class="container-fluid">
            <div class="row">
                <div class="text-center">
                    <h2 class="slogan">Commandez des plats faits maison</h2>
                </div>
            </div>
        </div>
  </header>

  <div class="row">
  <nav class="navbar menu">
   <div class="container">
     <ul class="nav navbar-nav navbar-left">

       <li><a href="#">ENTREES</a></li>
       <li><a href="#">PLATS</a></li>
       <li><a href="#">DESSERTS</a></li>
       <li><a href="#">SNACKING</a></li>
       <li><a href="#">BOISSONS</a></li>
       <li><a href="#">Commandez avant 12 h - Dégustez à apartir de 18h </a></li>
      </ul>
   </div><!-- /.container-fluid -->
 </nav>
 </div>


<div class="container">
  <div class="row">
    <% @plats.each do |plat| %>
    <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
     <div class="card">
      <%= link_to (image_tag plat.image.url,class:"card-img-top"), plat%><br/>
      <div class="card-block">
          <h4 class="card-title"><%= plat.title.capitalize   %></h4>
          <div class="meta">
              <%=  plat.category %><br/>
              <%=  plat.available %>
          </div>
          <div class="card-text">
              Tawshif is a web designer living in Bangladesh.
          </div>
      </div>
        <div class="card-footer">
          <span class="float-right"><%= plat.comments.count %> Commantaire</span>
          <span><i class=""></i>75 Friends</span>
        </div>
     </div>
    </div>
      <% end %>
  </div>
</div>
