<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-4">
    <%= image_tag @plat.image.url, class:"img-responsive" %>

    <h2><%= @plat.title %></h2>
    <h2><%= @plat.description %></h2>
    <h2><%= @plat.link %></h2>
    <h2><%= @plat.price %></h2>
    <h2><%= @plat.user.name %></h2>
      <h2><%  if @plat.halal %>Ha <% end %></h2>
  </div>
    <!--comment-->
    <h2><%= @comment_count= pluralize(@plat.comments.count, "comment") %></h2>
    <% @comments.each do |comment| %>
      <div class= "comment" %>
        <p><%= username= comment.user.name %></p>
        <p><%= content= comment.content%></p>

        <% end %>
        <%= render "comments/form" %>
      </div>
    <h1><%= link_to "Edit", edit_plat_path(@plat) %></h1>
    <h1><%= link_to "Destroy", plat_path(@plat), method: :delete, data: {confirm: "Are you sure"} %></h1>
    <h1><%= link_to "Home", root_path %></h1>
  </div>
</div>
